# Compiled class file
*.class

# Log file
*.log

README.md

build/
nbbuild/
dist/
nbdist/
nbproject/private/
Deprecated/nbproject/private/
CStat/nbproject/private/
CStat/nbproject/configs/
CStat/nbproject/private/
CStat/nbproject/genfiles.properties
CStat/nbproject/build-impl.xml
CStat/nbproject/project.properties
*.properties
Tstat/nbproject/private/private.xml
