# Compiled class file
*.class

# Log file
*.log

nbproject/private/
build/
nbbuild/
dist/
nbdist/
Tstat/nbproject/private/private.properties
Tstat/nbproject/configs/Rasp_Pi_A.properties
Tstat/nbproject/private/config.properties
Tstat/nbproject/project.xml
Tstat/nbproject/genfiles.properties
Tstat/nbproject/build-impl.xml
Tstat/nbproject/genfiles.properties
Tstat/nbproject/private/private.xml
Tstat/src/tests/Practice.java
/Tstat/nbproject/private/
Tstat/nbproject/project.properties
Tstat/nbproject/configs/raspberryB.properties
Tstat/nbproject/project.properties
Tstat/nbproject/configs/Rasp_Pi_B.properties
README.md
Tstat/nbproject/configs/Rasp_Pi_B.properties
